    @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;700&display=swap');
    html {
        background-color: #000000;
    }
    
    body {
        color: #daa566;
    }
    
    .left-panel {
        background-color: #000000;
        color: #daa566;
        border: 1px solid #daa566;
        border-radius: 0%;
        height: 500px;
        width: 350px;
        overflow: hidden;
        word-break: break-all;
        word-wrap: break-word;
        overflow-wrap: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
    
    .face-panel {
        background-color: #000000;
        color: #daa566;
        border: 1px solid #daa566;
        border-radius: 0%;
        margin: -20px;
        margin-top: -400px;
        position: absolute;
        height: 250px;
        width: 200px;
    }
    
    .face {
        -webkit-animation: blinkfadein 2s;
        animation: blinkfadein 2s;
    }
    
    .comm {
        -webkit-animation: fadein 10s;
        animation: fadein 6s;
    }
    
    .comm-panel {
        background-color: #000000;
        color: #daa566;
        border: 1px solid #daa566;
        border-radius: 0%;
        margin-top: -100px;
        margin-left: 270px;
        /* margin: px; */
        /* margin-top: 100px; */
        position: absolute;
        height: 120px;
        width: 120px;
        text-align: center;
        font-size: 50px;
    }
    
    .input-panel {
        background-color: #000000;
        color: #daa566;
        border: 1px solid #daa566;
        border-radius: 0%;
        margin-top: -500px;
        margin-left: 425px;
        width: 500px;
    }
    
    .button-panel {
        background-color: #000000;
        color: #daa566;
        border: 1px solid #daa566;
        border-radius: 0%;
        width: 90px;
        height: 25px;
        margin-left: 700px;
        /* position: absolute; */
    }
    
    .output-panel {
        background-color: #000000;
        color: #daa566;
        border: 1px solid #daa566;
        border-radius: 0%;
        margin-top: 170px;
        margin-left: 425px;
        width: 500px;
        height: 245px;
    }
    
    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    @keyframes blinkfadein {
        0% {
            opacity: 0
        }
        10% {
            opacity: 0.5
        }
        15% {
            opacity: 0.6
        }
        20% {
            opacity: 0.5
        }
        25% {
            opacity: 0.4
        }
        30% {
            opacity: 0.3
        }
        35% {
            opacity: 0.2
        }
        40% {
            opacity: 0.8
        }
        45% {
            opacity: 0.9
        }
        50% {
            opacity: 1
        }
        55% {
            opacity: 1
        }
        60% {
            opacity: .8
        }
        65% {
            opacity: 0.5
        }
        70% {
            opacity: 0.4
        }
        75% {
            opacity: 0.9
        }
        80% {
            opacity: 1
        }
        85% {
            opacity: .5
        }
        90% {
            opacity: 1
        }
        95% {
            opacity: 1
        }
    }