@function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));
    @return $randomNum;
}

.lineA {
    background-color: #52dff1;
    width: random(3)+ px;
    height: 219px;
    margin-top: -457px;
    margin-left: 490px;
    position: absolute;
    animation: A random(20)+s infinite;
}

.lineB {
    background-color: #52dff1;
    width: random(3)+ px;
    height: 219px;
    margin-top: -457px;
    margin-left: 600px;
    position: absolute;
    animation: B random(20)+s infinite;
}

.lineC {
    background-color: #52dff1;
    width: random(3)+ px;
    height: 219px;
    margin-top: -457px;
    margin-left: 750px;
    position: absolute;
    animation: C random(20)+s infinite;
}

.lineD {
    background-color: #52dff1;
    width: random(3)+ px;
    height: 219px;
    margin-top: -457px;
    margin-left: 780px;
    position: absolute;
    animation: D random(20)+s infinite;
}

.lineE {
    background-color: #52dff1;
    width: random(3)+ px;
    height: 219px;
    margin-top: -457px;
    margin-left: randomNum(430, 920) + px;
    position: absolute;
    animation: E random(20)+s infinite;
}

//high end 920
//low end 430 
// random(1410) - 490
@keyframes A {
    0% {
        margin-left: 490px
    }
    50% {
        margin-left: 700px
    }
    100% {
        margin-left: 490px
    }
}

@keyframes B {
    0% {
        margin-left: 600px;
    }
    50% {
        margin-left: 900px;
    }
    100% {
        margin-left: 600px;
    }
}

@keyframes C {
    0% {
        margin-left: 750px;
    }
    50% {
        margin-left: 475px;
    }
    100% {
        margin-left: 750px;
    }
}

@keyframes D {
    0% {
        margin-left: 780px;
    }
    50% {
        margin-left: 450px;
    }
    100% {
        margin-left: 780px;
    }
}

@keyframes E {
    0% {
        margin-left: randomNum(430, 920) + px
    }
    50% {
        margin-left: randomNum(430, 920) + px
    }
    100% {
        margin-left: randomNum(430, 920) + px;
    }
}