@function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));
    @return $randomNum;
}

$Alpha: randomNum(430, 920)+px;
.lineA {
    background-color: #61f809;
    width: random(3)+ px;
    height: 230px;
    margin-top: -457px;
    margin-left: 431px;
    position: absolute;
    animation: A 9s infinite;
}

.lineB {
    background-color: #e93232;
    width: random(3)+ px;
    height: 221px;
    margin-top: -457px;
    margin-left: 919px;
    position: absolute;
    animation: B 10+s infinite;
}

.lineC {
    background-color: #52dff1;
    width: random(3)+ px;
    height: 219px;
    margin-top: -457px;
    margin-left: $Alpha;
    position: absolute;
    animation: C random(3)+s;
}

.lineD {
    background-color: #52dff1;
    width: random(3)+ px;
    height: 219px;
    margin-top: -457px;
    margin-left: $Alpha;
    position: absolute;
    animation: D random(3)+s;
}

.lineE {
    background-color: #52dff1;
    width: random(3)+ px;
    height: 219px;
    margin-top: -457px;
    margin-left: $Alpha;
    position: absolute;
    animation: E random(3)+s;
}

.lineF {
    background-color: #52dff1;
    width: random(3)+ px;
    height: 219px;
    margin-top: -457px;
    margin-left: $Alpha;
    position: absolute;
    animation: F random(3)+s;
}

.lineG {
    background-color: #52dff1;
    width: random(3)+ px;
    height: 219px;
    margin-top: -457px;
    margin-left: $Alpha;
    position: absolute;
    animation: G random(3)+s;
}

.lineH {
    background-color: #52dff1;
    width: random(3)+ px;
    height: 219px;
    margin-top: -457px;
    margin-left: $Alpha;
    position: absolute;
    animation: H random(3)+s;
}

.lineI {
    background-color: #52dff1;
    width: random(3)+ px;
    height: 219px;
    margin-top: -457px;
    margin-left: $Alpha;
    position: absolute;
    animation: I random(3)+s;
}

.lineJ {
    background-color: #52dff1;
    width: random(3)+ px;
    height: 219px;
    margin-top: -457px;
    margin-left: $Alpha;
    position: absolute;
    animation: J random(3)+s;
}

.lineK {
    background-color: #52dff1;
    width: random(3)+ px;
    height: 219px;
    margin-top: -457px;
    margin-left: $Alpha;
    position: absolute;
    animation: K random(3)+s;
}

.lineL {
    background-color: #52dff1;
    width: random(3)+ px;
    height: 219px;
    margin-top: -457px;
    margin-left: $Alpha;
    position: absolute;
    animation: L random(3)+s;
}

.lineM {
    background-color: #52dff1;
    width: random(3)+ px;
    height: 219px;
    margin-top: -457px;
    margin-left: $Alpha;
    position: absolute;
    animation: M random(3)+s;
}

.lineN {
    background-color: #52dff1;
    width: random(3)+ px;
    height: 219px;
    margin-top: -457px;
    margin-left: $Alpha;
    position: absolute;
    animation: N random(3)+s;
}

//high end 920
//low end 430 
// random(1410) - 490
@keyframes A {
    0% {
        margin-left: 431px
    }
    50% {
        margin-left: 919px
    }
    100% {
        margin-left: 431px
    }
}

@keyframes B {
    0% {
        margin-left: 919px
    }
    50% {
        margin-left: 431px
    }
    100% {
        margin-left: 919px
    }
}

@keyframes C {
    0% {
        margin-left: $Alpha
    }
    50% {
        margin-left: randomNum(430, 920) + px
    }
    100% {
        margin-left: $Alpha
    }
}

@keyframes D {
    0% {
        margin-left: $Alpha
    }
    50% {
        margin-left: randomNum(430, 920) + px
    }
    100% {
        margin-left: $Alpha
    }
}

@keyframes E {
    0% {
        margin-left: $Alpha
    }
    50% {
        margin-left: randomNum(430, 920) + px
    }
    100% {
        margin-left: $Alpha
    }
}

@keyframes F {
    0% {
        margin-left: $Alpha
    }
    50% {
        margin-left: randomNum(430, 920) + px
    }
    100% {
        margin-left: $Alpha
    }
}

@keyframes G {
    0% {
        margin-left: $Alpha
    }
    50% {
        margin-left: randomNum(430, 920) + px
    }
    100% {
        margin-left: $Alpha
    }
}

@keyframes H {
    0% {
        margin-left: $Alpha
    }
    50% {
        margin-left: randomNum(430, 920) + px
    }
    100% {
        margin-left: $Alpha
    }
}

@keyframes I {
    0% {
        margin-left: $Alpha
    }
    50% {
        margin-left: randomNum(430, 920) + px
    }
    100% {
        margin-left: $Alpha
    }
}

@keyframes J {
    0% {
        margin-left: $Alpha
    }
    50% {
        margin-left: randomNum(430, 920) + px
    }
    100% {
        margin-left: $Alpha
    }
}

@keyframes K {
    0% {
        margin-left: $Alpha
    }
    50% {
        margin-left: randomNum(430, 920) + px
    }
    100% {
        margin-left: $Alpha
    }
}

@keyframes L {
    0% {
        margin-left: $Alpha
    }
    50% {
        margin-left: randomNum(430, 920) + px
    }
    100% {
        margin-left: $Alpha
    }
}

@keyframes M {
    0% {
        margin-left: $Alpha
    }
    50% {
        margin-left: randomNum(430, 920) + px
    }
    100% {
        margin-left: $Alpha
    }
}

@keyframes N {
    0% {
        margin-left: $Alpha
    }
    50% {
        margin-left: randomNum(430, 920) + px
    }
    100% {
        margin-left: $Alpha
    }
}