 p {
     padding-top: 100%;
     -moz-animation: marquee 200s linear infinite;
     -webkit-animation: marquee 200s linear infinite;
     animation: marquee 200s linear infinite;
     -webkit-touch-callout: none;
     /* iOS Safari */
     -webkit-user-select: none;
     /* Safari */
     -khtml-user-select: none;
     /* Konqueror HTML */
     -moz-user-select: none;
     /* Old versions of Firefox */
     -ms-user-select: none;
     /* Internet Explorer/Edge */
     user-select: none;
     /* Non-prefixed version, currently
     /* position: absolute */
 }
 
 @-moz-keyframes marquee {
     0% {
         transform: translate(0, 0);
     }
     100% {
         transform: translate(0, -100%);
     }
 }
 
 @-webkit-keyframes marquee {
     0% {
         transform: translate(0, 0);
     }
     100% {
         transform: translate(0, -100%);
     }
 }
 
 @keyframes marquee {
     0% {
         -moz-transform: translate(0, 0);
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
     }
     100% {
         -moz-transform: translate(0, -100%);
         -webkit-transform: translate(0, -100%);
         transform: translate(0, -100%);
     }
 }