@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;700&display=swap');
body {
    background-color: #000000;
    color: #000000;
}

.black {
    background-color: #111111;
    color: #daa566;
    font-family: 'Space Grotesk', sans-serif;
    caret-color: #111111;
    outline-width: 0;
    border: none;
}

.panel {
    /* background-color: #daa566; */
    background-color: #111111;
    max-width: 400px;
    border-radius: 10px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    text-align: center;
}

.blinking {
    animation: blinkingText 0.9s infinite;
}

@keyframes blinkingText {
    0% {
        background-color: #daa566;
    }
    49% {
        background-color: #daa566;
    }
    60% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: #daa566;
    }
}


/* 
.term {
    font-family: courier, fixed;
    font-size: 12px;
    color: #33d011;
    background: none;
} */

.termReverse {
    font-family: courier, fixed;
    font-size: 20px;
    color: #111111;
    background: #daa566;
    margin-left: -3px;
}